// Define additional parameters for the processes
params {
    association_build             = 'hg19'
    genotypes_prediction          = '/scratch/compgen/data/genetics/CHRIS13K/plinkFormat/CHRIS13K.GT.forgwas.nofid.{bim,bed,fam}'
    genotypes_association         = '/scratch/compgen/data/genetics/CHRIS13K/Imputation/HRC/*.dose.vcf.gz'
    genotypes_association_format  = 'vcf'
    regenie_test                  = 'additive'
    annotation_min_log10p         = 5
    prune_enabled                 = true
    prune_maf                     = 0.01
    prune_window_kbsize           = 1000
    prune_step_size               = 100
    prune_r2_threshold            = 0.9
    rsids_filename                = '/scratch/mfilosi/reference/rsid/rsids-v154-hg19.index.gz'
}

process{

    executor='slurm'
    // queue='slow'
    // clusterOptions = '--time=48:00:00'

    // container = '/shared/statgen/containers_regenie/quay.io/genepi/nf-gwas:v0.3.5'

    // Set up CPUs and Memory for plink process
    withLabel: 'process_plink2' {
        cpus   = 8
        memory = 64.GB
    }
    // Set up memory for creating report
    withLabel: 'required_memory_report' {
        memory = 32.GB
    }

    // Set up memory for merging results
    withName: 'MERGE_RESULTS' {
        memory = 16.GB
    }

    // Set up cpus and memory for the whole process
    withName: 'REGENIE_STEP1|REGENIE_STEP2' {
        cpus   = 8
        memory = 16.GB
    }

    // Set up memory for annotation
    withName: 'ANNOTATE_RESULTS' {
        memory = 16.GB
    }
}
